---
import ThoughtsItem from '../../components/ThoughtsItem.astro'
import { getCollection } from 'astro:content'
import PageLayout from '../../layouts/Layout.astro'
import { THOUGHTS } from '../../consts.ts'

const thoughts = (await getCollection('thought')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<PageLayout title={THOUGHTS.TITLE} description={THOUGHTS.DESCRIPTION}>
  <section>
    <h1 class="w-full pb-8 text-7xl font-medium tracking-tight">
      {THOUGHTS.TITLE.toLowerCase()}
    </h1>

    <div class="flex w-full max-w-xl flex-col gap-8">
      {
        thoughts.map((thought, i) => (
          <ThoughtsItem
            category={thought.data.category}
            content={thought.data.description}
            pubDate={thought.data.pubDate}
            slug={thought.slug}
            index={i}
          />
        ))
      }
    </div>
  </section>
</PageLayout>
