---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import { readingTime } from '../../lib/utils'
import clsx from 'clsx'

export async function getStaticPaths() {
  const writings = (await getCollection('writing'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

  return writings.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'writing'>

const post = Astro.props
const { Content } = await post.render()
const { title, description, pubDate, heroImage } = post.data
---

<Layout title={title} description={description}>
  <!-- SEO -->
  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'BlogPosting',
      headline: title,
      description,
      url: new URL(Astro.url.pathname, Astro.site).toString(),
      datePublished: pubDate,
      dateModified: pubDate,
      author: {
        '@type': 'Person',
        name: 'Kane Vidzro',
        url: 'https://kanevidzro.com',
      },
      mainEntityOfPage: {
        '@type': 'WebPage',
        '@id': new URL(Astro.url.pathname, Astro.site).toString(),
      },
    })}
  />

  <!-- Content -->
  <section>
    <article class="flex flex-col gap-6">
      <!-- Title -->
      <h1 class="text-4xl font-semibold tracking-tight md:text-5xl lg:text-6xl">
        {title}
      </h1>

      <!-- Meta -->
      <div class="flex flex-row gap-2 text-[15px] font-medium text-gray-500">
        <FormattedDate date={pubDate} />
        <span>·</span>
        <span>{readingTime(post.body)}</span>
      </div>

      <!-- TL;DR -->
      <p class="text-lg text-gray-700 dark:text-gray-300">
        <span class="font-semibold text-gray-900 dark:text-white">tl;dr:</span>
        {description}
      </p>

      <!-- Hero Image -->
      {
        heroImage && (
          <img src={heroImage} alt={title} class="w-full rounded-lg" />
        )
      }

      <!-- Body -->
      <div
        class={clsx(
          'prose prose-lg dark:prose-invert my-3 w-full',
          'prose-p:font-medium prose-li:font-medium prose-ul:space-y-3 prose-ol:space-y-3',
          'prose-a:underline prose-a:decoration-orange-500 prose-a:bg-orange-50',
          'dark:prose-a:bg-orange-950 dark:prose-a:decoration-orange-400',
        )}>
        <Content />
      </div>
    </article>
  </section>
</Layout>
