---
import FormattedDate from '../components/FormattedDate.astro'
import { getCategoryColor } from '../lib/utils'
import { clsx } from 'clsx'

const { category, content, pubDate, index, slug } = Astro.props
---

<a href={`/thoughts/${slug}`} class="block">
  <article
    id={category}
    class={clsx(
      'flex w-full flex-col gap-4 p-6 rounded-xl relative transition-all duration-100 ease-in-out cursor-pointer',
      getCategoryColor(category),
      index % 2 === 0 ? 'rotate-1 hover:rotate-0' : '-rotate-1 hover:rotate-0',
      'hover:shadow-lg',
    )}>
    <!-- Decorative Quote -->
    <span class="absolute top-3 right-4 text-4xl text-gray-600 opacity-50">
      "
    </span>

    <!-- Category -->
    <h5 class="text-md font-medium text-gray-800 dark:text-gray-800">
      Kane V. on <span class="underline decoration-wavy">{category}</span>
    </h5>

    <!-- Main Thought -->
    <h1
      class="w-full indent-8 text-lg leading-snug font-medium text-gray-900 sm:text-xl md:text-2xl dark:text-gray-900">
      {content}
    </h1>

    <!-- Date -->
    <p
      class="w-full text-end text-sm font-medium text-gray-800 dark:text-gray-800">
      <FormattedDate date={pubDate} />
    </p>
  </article>
</a>
