---
import FormattedDate from '../components/FormattedDate.astro'
import { getCategoryColor } from '../lib/utils'
import { clsx } from 'clsx'

const { category, content, pubDate, index, slug } = Astro.props
---

<a href={`/thoughts/${slug}`}>
  <article
    id={category}
    class={clsx(
      'flex flex-col w-full items-center justify-between gap-3 p-6 relative transition-all duration-75 ease-in-out',
      getCategoryColor(category), // set the background color based on category
      index % 2 === 0 ? 'rotate-1 hover:rotate-0' : '-rotate-1 hover:rotate-0', // rotate the card
    )}>
    <span class="absolute top-3 right-3 text-5xl text-gray-700">"</span>
    <h5 class="text-md w-full font-medium text-gray-900 dark:text-gray-900">
      Kane V. on
      <span class="underline decoration-wavy">{category}</span>
    </h5>
    <h1
      class="w-full indent-9 font-medium text-black sm:text-xl md:text-2xl dark:text-black">
      {content}
    </h1>
    <p class="w-full text-end text-sm font-medium text-black">
      <FormattedDate date={pubDate} />
    </p>
  </article>
</a>
